name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * MON'

jobs:
  build:
    name: SML/NJ ${{ matrix.smlnj-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        smlnj-version: [110.87, 110.97, 110.98, 110.99]
        exclude:
          # SML/NJ versions before 110.94 do not support 64-bit
          - os: macos-latest
            smlnj-version: 110.87
          # SML/NJ versions before 110.98 do not support Big Sur
          - os: macos-latest
            smlnj-version: 110.97

    steps:
      - uses: actions/checkout@v2.4.0
      - uses: ProjectSavanna/setup-sml@v1.1.2
        with:
          smlnj-version: ${{ matrix.smlnj-version }}
      - uses: ./
        with:
          sml-compiler: smlnj
      - name: Test version output
        run: |
          [[ $(smackage help | head -n 1) == Smackage* ]]
